/* Стиль для задания 2 */
body {
    margin: 0 auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2b8e9;
}

.banner img {
    width: 200px;
    height: 100px;
    border-radius: 2px;
}
