h1 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}

form {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 200px;
    margin: 0 auto;
}

input[type="text"],
input[type="number"] 
{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #408ff0;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
} 
a {
    margin: 10px auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
	width:150px;
	height:100px;
	position:center;
	overflow:hidden;
	color:#000000;
	text-decoration:none;
	background:#408ff0;
	border-radius:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}